/* MAIN CONTAINER */

.main_cont {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

}

/* HEADER */


.sec1 {
    width: 100%;
    height: 700px;
    background-image: url("../pics/wave.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* ტექსტი რატომ არ ჩაჯდა აქ display-flex; justify % align? */
}

.burger {
    color: #FFFFFF;
    display: none;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 5px red;
    padding: 32px 125px 0 125px;
    margin-bottom: 320px;

}

ul {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 32px;
    color: #FFFFFF;
}

li:hover {
    font-size: 60px;
}

.caption {
    width: 80%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    font-size: 40px;
    color: #C0B4B4;
    /* border: solid 5px blue; */
}



/* SECTION 2 */

.sec2 {
    width: 100%;
    height: 610px;
    background-color: #2A2626;

}


.main_article {
    width: 80%;
    height: 500px;
    padding: 96px 125px;
}


h2 {
    margin-bottom: 42px;
    font-size: 48px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.threecards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 5px solid red; */
}


.cards{
    width: 30%;
    display: flex;
    justify-content: space-between;
    /* border: 5px solid rgb(110, 27, 173); */
    gap: 120px;
}

.cards:hover{
    box-shadow:10px 15px rgb(12, 12, 12);
}

/* ARTICLE */

article{
width: 100%;
margin: 0 auto;
background-color: #0B0A0A;
}

.artice{
    width: 80%;
    height: 418px;
}

h3{
    font-size: 56px;
    color: #FFFFFF;
}